.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 0 7%;
    background-color: var(--header-background-color);

    &__title {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        margin: 10px 0;
        gap: 5px;
        cursor: pointer;

        img {
            height: 40px;
        }
    }

    &__buttons {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
    }
}
