body {
    --background-color: rgb(240, 255, 255);
    --news-container-background-color: white;
    --header-background-color: rgb(198, 255, 212);
    --buttons-background-color: #6B7D7D;
    --news-background-color: rgb(244, 244, 244);

    --news-title-text-color: black;
    --news-link-color: black;
    // --news-author-text-color: rgb(49, 49, 49);
    // --news-comments-text-color:;
    --comments-title-text-color: #283D3B;
    --news-info-text-color: rgb(49, 49, 49);
    --news-info-date-color: rgb(109, 109, 109);
}