body {
    --background-color: #fdfafb;
    --news-container-background-color: white;
    --header-background-color: #C1EBC8;
    --buttons-background-color: #6B7D7D;
    --news-background-color: rgba(0, 0, 0, 0.027);
    --comments-background-color:  var(--news-background-color);

    --news-title-text-color: black;
    --news-link-color: black;
    --news-info-text-color: rgb(49, 49, 49);
    --news-info-date-color: rgb(109, 109, 109);
    --comments-title-text-color: #283D3B;
    --comments-counter-text-color: #42734B;
    --loader-color: #42734B; 
}